@import "fonts";
@import "variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $page-color;
  color: $text-color;
  font-family: "Suisse Intl", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration:none;
  color: $text-color;
  position: relative;
  &.button {
    font-family: "Suisse Intl Mono";
    border: 1px solid $text-color;
    display: inline-block;
    padding: 0.75em 1.25em;
    font-size:1.2em;
    transition: 0.4s background-color cubic-bezier(0.075, 0.82, 0.165, 1), 0.4s color cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      background-color: $text-color;
      color: $page-color;
    }
  }
}

p, li {
  a {
    text-decoration: underline;
    text-underline-offset: 3px;
    &:hover {
    }
  }
}

h1,
h2,
h3 {
  letter-spacing: -1px;
  // font-family: "Suisse Works", serif;
  line-height: 1em;
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
  @include tablet {
    font-size: 4em;
  }
}

h2 {
  font-size: 1.5em;
  @include tablet {
    font-size: 2.5em;
  }
}

h3 {
  font-size: 1.2em;
  @include tablet {
    font-size: 1.4em;
  }
}

.center {
  text-align: center;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 100;
  padding: 1em;
  font-family: "Suisse Intl Mono";

  top: 0;
  @include tablet {
    padding: 2em;
  }

  a {
    &:hover {
      text-decoration: line-through;
    }
  }
  // border-bottom: 1px solid $text-color;
  // background-color: $page-color;
  width: 100%;
  .menu {
    text-align: right;
    & > * {
    }
  }
}

.content {
  margin-bottom: 150px;
  position: relative;
  padding-top: 10em;
  padding-bottom: 2.5em;
  z-index: 1;
  background-color: $page-color;
  @include tablet {
    padding: 10em 0;
    margin-bottom: 100px;
    flex-direction: row;
  }
}

main {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 1em;
}

footer {
  width: 100%;
  height: 150px;
  background-color: $text-color;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  font-family: "Suisse Intl Mono";
  position: fixed;
  bottom: 0px;
  z-index: 0;
  flex-direction: column;
  align-items: center;
  & > * {
    margin-bottom: 1em;
  }
  @include tablet {
    height: 100px;
    flex-direction: row;
    & > * {
      margin-bottom: 0;
    }
  }
  a {
    &:hover {
      text-decoration: line-through;
    }
    color: $page-color;
  }

  .social-links {
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    li {
      padding: 0 0.5em;
    }
  }
}

.hero {
}

.headline {
  max-width: 700px;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.3em;
  font-weight: 400;
  color: mix($text-color, #fff, 75%);
  padding-bottom: 2em;
  max-width: 600px;
}

.hero-links {
  display: flex;
  a {
    margin-right: 1em;
  }
}

.card-box {
  display: flex;
  align-items: center;
  flex-direction: column;

  h3 {
    margin-top: 0;
    margin-bottom: 1em;
    flex: 0 0 20%;
  }
  & > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-gap: 1em;
    width: 100%;
  }
}

.note-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $text-color;
  &:first-child {
    border-top: none;
  }
  h3 {
    flex: 0 0 75%;
    padding-right: 1em;
  }

  span {
    flex: 0 0 25%;
    text-align: right;
    font-family: "Suisse Intl Mono";
  }
}

.work {
  display: flex;
  flex-direction: column;
  @include tablet {
    // flex-direction: row;
  }

  .projects {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include tablet {
    }
    .project-preview {
      display: flex;
      justify-content: space-between;
      padding: 1em 0;
      border-top: 1px solid $text-color;
      align-items: center;
      &:first-child {
        border-top: none;
      }
      .project-preview-title {
        // font-family: "Suisse Works", serif;
        font-size: 1.5em;
        @include tablet {
          font-size: 4em;
        }
        margin: 0;
        font-weight: 600;
        letter-spacing: -1px;
        transition: 0.4s color cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
          color: mix($text-color, #fff, 75%);
        }
      }
      .project-preview-period {
        @include tablet {
          font-size: 1.4em;
        }
        font-family: "Suisse Intl Mono";
      }
    }
  }
}

.testimonials {
  // flex: 0 0 50%;

  .testimonial-author {
    // font-size: 0.75em;
    span {
      font-style: italic;
    }
  }
}

.about-headline {
  p {
    font-size: 1.3em;
  }
  @include tablet {
  }
}

.services {
  display: grid;
  margin-bottom: 2em;
  padding: 3em 0;
  @include tablet {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1em;
    font-weight: 500;
    p {
      margin: 0;
      color: mix($text-color, #fff, 75%);
    }
    &:last-child {
      border-right: none;
    }
  }
  svg {
    width: 4em;
    height: 4em;
    margin-bottom: 0.5em;
  }
}

.project-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 3em 0;
  @include tablet {
    padding: 5em 0;
  }

  .project-title {
    margin: 0;
  }
  .project-description {
    font-size: 2em;
    @include tablet {
      font-size: 3em;
    }
    margin: 0;
    color: mix($text-color, #fff, 75%);
  }

  .project-period {
    font-size: 2em;
    width: 100%;
    font-family: "Suisse Intl Mono";

    @include tablet {
      flex: 0 0 25%;
    }
  }
}

.project-text {
  @include tablet {
    flex: 0 0 75%;
  }
}

.project-meta {
  ul {
    list-style: none;
    padding: 0;
    font-family: "Suisse Intl Mono";
  }
  @include tablet {
    flex: 0 0 25%;
  }
}

.project-body {
  display: flex;
  flex-wrap: wrap;
  .project-content {
    p {
      margin-top:0;
      font-size:1.1em;
      @include tablet {
        font-size: 1.3em;
      }
    }
  }
}

.experience {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  & > li {
    display: flex;
    flex-direction: column;
    .experience-date {
      font-size: 0.9em;
      font-family: "Suisse Intl Mono";
    }
    .experience-title {
      font-size: 1.3em;
      font-weight: 500;
      margin-bottom: 0.2em;
    }
    & > ul {
      padding-left: 1em;
      margin: 1em 0;
    }
  }
}

.text-block {
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  @include tablet {
    flex-direction: row;

    & > *:first-child {
      flex: 0 0 25%;
    }

    & > *:nth-child(2) {
      flex: 0 0 75%;
      padding-left: 2em;
      & > *:first-child {
        margin-top: 0;
      }
    }

    h2 {
      margin: 0;
    }
  }
}

.blog-post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    flex: 0 0 75%;
    padding-right: 1em;
  }

  span {
    flex: 0 0 25%;
    text-align: right;
    font-family: "Suisse Intl Mono";
  }
}

.blog-post-content {
  max-width: 600px;
}

.gatsby-resp-image-wrapper {
  padding: 3em 0;
  @include tablet {
    background-color: mix($page-color, $text-color, 95%);
    padding: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
  }
}

.image-wide {
  @include tablet {
    padding: 5em;
    margin-left: -66.66% !important;
    margin-right: -33.33% !important;
  }
}

.image-grid {
  @include tablet {
    margin-left: -66.66% !important;
    margin-right: -33.33% !important;
    p {
      display: flex;
    }
    flex-direction: row;

    .gatsby-resp-image-wrapper {
      flex: 0 0 50%;

      
    }
  }
}
