@font-face {
  font-family: 'Suisse Intl';
  src: url("../fonts/SuisseIntl-Regular-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Regular-WebS.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url("../fonts/SuisseIntl-RegularItalic-WebS.woff") format("woff"), url("../fonts/SuisseIntl-RegularItalic-WebS.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url("../fonts/SuisseIntl-Medium-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Medium-WebS.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url("../fonts/SuisseIntl-Light-WebS.woff") format("woff"), url("../fonts/SuisseIntl-Light-WebS.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Works';
  src: url("../fonts/SuisseWorks-Medium-WebS.woff") format("woff"), url("../fonts/SuisseWorks-Medium-WebS.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Works';
  src: url("../fonts/SuisseWorks-Bold-WebS.woff") format("woff"), url("../fonts/SuisseWorks-Bold-WebS.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* breakpoints for media queries */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes pulse {
  0% {
    background-color: #E2B6C4;
  }
  25% {
    background-color: #CEA0AF;
  }
  50% {
    background-color: #aec6cf;
  }
  75% {
    background-color: #A0D7E2;
  }
  100% {
    background-color: #E2B6C4;
  }
}

@keyframes pulse {
  0% {
    background-color: #E2B6C4;
  }
  25% {
    background-color: #CEA0AF;
  }
  50% {
    background-color: #aec6cf;
  }
  75% {
    background-color: #A0D7E2;
  }
  100% {
    background-color: #E2B6C4;
  }
}

body {
  background-color: #f7f5ef;
  -webkit-animation: pulse 15s infinite;
          animation: pulse 15s infinite;
  background: linear-gradient(-45deg, #E2B6C4, #CEA0AF, #aec6cf, #A0D7E2, #E2B6C4);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s infinite;
          animation: gradient 15s infinite;
  color: #222;
  font-family: "Suisse Intl", sans-serif;
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #222;
  position: relative;
}

h1,
h2,
h3 {
  letter-spacing: -0.05em;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 1;
  height: 2em;
  padding: 0 1em;
  border-bottom: 1px solid #222;
  background-color: #f7f5ef;
  width: 100%;
}

header .header-line {
  display: none;
}

@media (min-width: 768px) {
  header .header-line {
    display: block;
  }
}

.content {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  width: 16.66%;
  height: calc(100vh - 2em);
  border-right: 1px solid #222;
}

.sidebar > div {
  border-bottom: 1px solid #222;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  width: 100%;
  position: relative;
  padding: 1em;
}

.sidebar .bio p {
  position: absolute;
  bottom: 1em;
  left: 1em;
  line-height: 1.3;
  margin: 0;
}

.sidebar .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 1em;
  left: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  width: 100%;
  margin-left: 16.66%;
  margin-right: 16.66%;
  padding: 0 1em;
}

footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  height: calc(100vh - 2em);
  border-left: 1px solid #222;
  background-color: #f7f5ef;
  width: 16.66%;
}

footer > div {
  border-bottom: 1px solid #222;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  width: 100%;
  position: relative;
}

footer > div a {
  display: block;
  padding: 1em;
  height: 100%;
}

footer > div a span {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.headline {
  font-size: 2.5em;
  max-width: 25ch;
  padding: 2em 0;
  margin: auto;
  text-align: center;
}

.hero-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-links a {
  border: 1px solid #222;
  padding: 0.5em 1em;
  margin: 0 1em;
  -webkit-transition: background-color 250ms, color 250ms;
  transition: background-color 250ms, color 250ms;
  background-color: #f7f5ef;
}

@media (min-width: 1000px) {
  .hero-links a {
    padding: 1em 2em;
  }
}

.hero-links a:hover span {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
}

.hero-links a:before {
  position: absolute;
  content: "";
  background-color: #222;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 6px;
  left: 6px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 0;
}

@media (min-width: 1000px) {
  .card-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.card-box h2 {
  margin-bottom: 1em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.card-box > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1em;
  width: 100%;
}

.note-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  border: 1px solid #222;
}

.note-preview span {
  margin-bottom: 0.5em;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .work {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.work .projects {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work .projects .project-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
  border-top: 1px solid #222;
}

.work .projects .project-preview .project-preview-period {
  font-style: italic;
  font-size: 0.75em;
}

.work .testimonials {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 1em;
  margin: auto;
}

@media (min-width: 768px) {
  .work .testimonials {
    padding-left: 1em;
  }
}

.work .testimonials .testimonial-author {
  font-size: 0.75em;
}

.about-header {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  margin: 0 -1em;
  border-bottom: 1px solid #222;
}

@media (min-width: 768px) {
  .about-header {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.about-header .gatsby-image-wrapper {
  border-right: 1px solid #222;
}

.services {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
}

@media (min-width: 768px) {
  .services {
    -ms-grid-columns: (minmax(0, 1fr))[4];
        grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.services div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #222;
  padding: 1em;
}

.services svg {
  width: 2em;
  height: 2em;
  margin-bottom: 1em;
}
/*# sourceMappingURL=styles.css.map */