@import "fonts";
@import "variables";
@import "homepage";
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: $page-color;
  color: $text-color;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: $page-color;
  // border-left:1px solid $text-color;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $text-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $light-gray;
  cursor: grab;
}

::selection {
  background: $text-color; 
}
::-moz-selection {
  background: $text-color; 
}

a {
  color: inherit;
  text-decoration: none;
  &:not(.header a, .footer a) {
    @include underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
  @include tablet {
    font-size: 3.4vw;
  }
  margin-top: 0;
}
h3 {
  font-size: 32px;
  font-weight: 400;

  @include tablet {
    font-size: 2.5vw;
  }
  margin-top: 0;
}
h4 {
  font-size: 18px;
  font-weight: 400;
  @include tablet {
    font-size: 24px;
  }
}

p {
  line-height: 1.4;
  font-size:14px;
  @include tablet {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  position: relative;
  .hud {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    transition: 400ms min-height $ease;

    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    padding: 15px 0;
    box-shadow: inset 0 0 0 15px $page-color;
    @include tablet {
      padding: 5vh 0;
      box-shadow: inset 0 0 0 5vh $page-color;
    }
    .hud-content {
      border: 1px solid $text-color;
      border-radius: 6px;
      overflow: hidden;
      margin: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 95vw;
      @include tablet {
        width: 80vw;
      }
      margin: auto;
    }
  }
  .container {
    margin: auto;
    background-color: $page-color;
    width: 95vw;
    @include tablet {
      width: 80vw;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $page-color;
  border-bottom: 1px solid;
  pointer-events: all;
}

.logo,
.links {
  font-size: 15px;
  font-family: "Suisse Intl Mono";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.logo {
  border-right: 1px solid $text-color;
  display: block;
  padding: 15px;
  @include tablet {
    padding: 2vh 2vw;
  }
  position: relative;
  &:after {
    content: "";
    transition: 400ms height $ease;
    position: absolute;
    left: 0;
    bottom: 0%;
    width: 100%;
    height: 0;
    background-color: $text-color;
  }
  &:hover,
  &.active {
    &:after {
      height: 5px;
    }
  }
}

.links {
  display: flex;
  & > a {
    padding: 15px;
    border-left: 1px solid $text-color;
    @include tablet {
      padding: 2vh 2vw;
    }
    position: relative;
    &:after {
      content: "";
      transition: 400ms height $ease;
      position: absolute;
      left: 0;
      bottom: 0%;
      width: 100%;
      height: 0;
      background-color: $text-color;
    }
    &:hover,
    &.active {
      &:after {
        height: 5px;
      }
    }
  }
}

.main {
  position: relative;
  margin: 67px 0;
  @include tablet {
    margin: calc(11vh + 2px) 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $page-color;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  pointer-events: all;

  & > * {
    font-size: 15px;
    font-family: "Suisse Intl Mono";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
    padding: 15px;
    @include tablet {
      padding: 2vh 2vw;
    }
  }
  .description {
    border-right: 1px solid;
  }
  & > a {
    position: relative;
    border-left: 1px solid $text-color;
    &:after {
      content: "";
      transition: 400ms height $ease;
      position: absolute;
      left: 0;
      bottom: 0%;
      width: 100%;
      height: 0;
      background-color: $text-color;
    }
    &:hover,
    &.active {
      &:after {
        height: 5px;
      }
    }
  }
}



section {
  border-top: 1px solid $text-color;
  padding: 15px;
  background-color: $page-color;
  position:relative;
  transition: 400ms min-height $ease;
  align-items: center;
  min-height: calc(83vh - 3px);
  display: flex;
  &:first-child {
    margin-top:0;
    border-top: none;
  }
  @include tablet {
    min-height: calc(77vh + 4px);
    &:first-child {
      margin-top:56px;
    }

    padding: 2vh 2vw;
  }
}

.grid-2 {
  display: grid;
  gap: 2vh;
  @include tablet {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.measure {
  max-width: 45ch;
  margin-left: auto;
}

.services {
  display: flex;
  height: 100%;
  justify-content: space-between;
  display: grid;
  gap: 30px;
  @include tablet {
    padding-top: 20vh;
    padding-bottom: 20vh;
    gap: 100px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include desktop {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  h3 {
    margin: 0;
    align-self: center;
  }
  h4 {
    margin-bottom: 20px;
    font-family: $font-mono;
    display: flex;
    align-items: center;
    svg {

      @include tablet {
        width: 30px;

      }
      height: auto;
      margin-right: 15px;
    }
  }
  p {
    max-width: 35ch;
    font-size: 18px;
    margin: 0;
  }
}

.strategies-list {
  list-style: none;
  margin: 0;
  padding: 0%;
  li {
    margin-bottom: 20px;
  }
}

.capabilities-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: $font-mono;
}

.hero-bio {
  align-items: flex-end;
  h2 {
    margin-bottom: 0;
    margin-top: 0;
  }
  p {
    @include tablet {
      font-size: 18px;
      line-height: 1.5;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .lead {
    font-size: 20px;
    @include tablet {
      font-size: 32px;
    }
    line-height: 1.15;
  }
}

@import 'tabs';

.testimonial-section {
  display: grid;
  h2 {
    margin:0;
  }
  grid-gap: 50px;
  @include desktop {
    grid-gap: 100px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}